*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/bg.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

.box
{
    width: 600px;
    height: 600px;
    padding: 20px;
    /*border: 1px solid red;
    */display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(10px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card
{
    width: 10%;
    height: 80%;
    border-radius: 10px;
    border: 2px solid rebeccapurple;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 1s all;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    /*align-items: center;
    */
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card:nth-child(1)
{
    background-image: url(/images/1.jpg);
}

.card:nth-child(2)
{
    background-image: url(/images/2.jpg);
}

.card:nth-child(3)
{
    background-image: url(/images/3.jpg);
}

.card:nth-child(4)
{
    background-image: url(/images/4.jpg);
}

.card:nth-child(5)
{
    background-image: url(/images/5.jpg);
}
.card p:nth-child(1)
{
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 10px;
    align-items: center;
    justify-self: center;
    width: 30px;
    height:30px;
    border-radius: 50%;
    /* border: 1px solid #fff; */
    border: 2px solid rebeccapurple;
    background-color: rgba(128, 128, 128, 0.521);
    position: absolute;
    left: 0;
    color: white;
    bottom: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card p:nth-child(2)
{
    /* text-align:right end; */
    color: aliceblue;
    /* border: 2px solid gray; */
    text-align: justify;
    width: 60%;
    height:60px;
    position: absolute;
    left: 70px;
    bottom: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    
}

.card:hover
{
    flex-grow: 2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-color: white;
}

.card:hover p:nth-child(2)
{
    visibility: visible;
    opacity: 1;
    
}
